<!DOCTYPE html>
<html>

<head>
  <title>Verify Email</title>
</head>

<body>
  <p>Please click this link to confirm your email: <a href="{{verificationUrl}}">{{verificationUrl}}</a></p>
</body>

</html>